/* buat di bawah ukuran 50% */


/* REVISI SEMUAAA */

@media (min-width: 2000px) {
    .homepage {
        background-color: rgb(138, 188, 252);
    }

    .homepage .div {
        position: absolute;
        top: 3400px;
        left: 0;
        width: 100%;
        height: 1405px;
        border-radius: 188px;
        
    }

    .homepage .rectangle {
        position: absolute;
        top: 4200px;
        left: 0;
        width: 100%;
        height: 1770px;
        z-index: 0;
    }






    /* PALING ATAS */
    .homepage .rectangle-2 {
        height: 1280px;
    }

    .homepage .group {
        position: absolute;
        top: 230px;
        left: calc(50% - 750px);
        width: 1500px;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .homepage .text-wrapper {
        font-size: 135px;
        line-height: 1.4;
        text-align: center;
        width: 100%;
        white-space: nowrap;
    }



    /* NAVBAR */
    .navbar {
        width: 90%;
        max-width: 1400px;
        height: 120px;
        margin: 40px auto;
        position: relative;
        z-index: 1000;
        border-radius: 100px;
        padding: 15px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-left,
    .nav-right {
        display: flex;
        gap: 140px;
    }

    .navbar a {
        text-decoration: none;
        font-family: "Poppins-Bold", Helvetica;
        font-weight: 700;
        font-size: 24px;
        white-space: nowrap;
    }

    .nav-logo img {
        height: 50px;
        width: 250px;
        margin-right: 15px;
    }





    /* GAMBAR DI HALM PERTAMA */
    .shape-l-reverse {
        position: absolute;
        left: 220px;
        top: 200px;
        width: 180px;
        height: 660px;
    }

    .shape-l-reverse::after {
        position: absolute;
        bottom: 510px;
        right: -180px;
        width: 220px;
        height: 150px;
    }

    .homepage .screenshot {
        position: absolute;
        top: 694px;
        left: 160px;
        width: 200px;
        height: 220px;
        aspect-ratio: 0.91;
        object-fit: cover;
    }

    .homepage .screenshot-2 {
        position: absolute;
        top: 155px;
        left: 150px;
        width: 200px;
        height: 280px;
        aspect-ratio: 0.61;
    }

    .shape-l {
        position: absolute;
        right: 220px;
        top: 200px;
        width: 180px;
        height: 660px;
    }

    .shape-l::after {
        content: "";
        position: absolute;
        top: 510px;
        left: -160px;
        width: 170px;
        height: 150px;
    }

    .homepage .screenshot-3 {
        position: absolute;
        top: 730px;
        right: 430px;
        width: 200px;
        height: 200px;
        aspect-ratio: 1.05;
        object-fit: cover;
    }

    .homepage .screenshot-4 {
        position: absolute;
        top: 153px;
        right: 180px;
        width: 220px;
        height: 230px;
        aspect-ratio: 1.05;
        object-fit: cover;
    }





    .homepage .rectangle-6 {
        position: absolute;
        top: 810px;
        left: calc(50.00% - 115px);
        width: 260px;
        height: 90px;
        border-radius: 100px;
        border: 1px solid;
    }

    .homepage .text-wrapper-7 {
        position: absolute;
        top: 840px;
        left: calc(50.00% - 45px);
        width: 122px;
        font-family: "Montserrat-SemiBold", Helvetica;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        letter-spacing: 0;
        line-height: 31.2px;
        white-space: nowrap;
    }


    .homepage .rectangle-3 {
        position: absolute;
        top: 810px;
        left: 295px;
        width: 130px;
        height: 130px;
        border: 1px solid;
        transform: rotate(15.48deg);
    }

    .homepage .rectangle-4 {
        position: absolute;
        top: -73px;
        left: -25px;
        width: 180px;
        height: 140px;
        border: 1px solid;
        transform: rotate(15.48deg);
    }


    .homepage .rectangle-44 {
        position: absolute;
        top: -70px;
        right: 70px;
        width: 170px;
        height: 110px;
        border: 1px solid;
        transform: rotate(15.48deg);
    }


    .homepage .rectangle-33 {
        position: absolute;
        top: 836px;
        right: 330px;
        width: 150px;
        height: 120px;
        border: 1px solid;
        transform: rotate(13.60deg);
    }







    /* KOTAK HITAM */
    .rectangle-7 {
        width: 90%;
        max-width: 1900px;
        margin: auto;
        padding: 55px;
        margin-top: 1050px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 65px;
    }

    .item {
        text-align: center;
    }

    .item h1 {
        font-size: 63px;
        margin: 0;
        text-decoration: none;
        font-family: "Poppins-Bold", Helvetica;
        font-weight: 550;
        white-space: nowrap;
    }

    .item span {
        margin-right: -9px;
    }

    .item p {
        margin-top: 10px;
        font-size: 23px;
        text-decoration: none;
        font-family: "Poppins-Bold", inherit;
        font-weight: 500;
        white-space: nowrap;
    }

    /* END KOTAK HITAM */







    
}