:root {
  --importeddefaultuntitled-0: rgba(255, 255, 255, 1);
  --importeddefaultuntitled-1: rgba(0, 0, 0, 1);
  --importeddefaultuntitled-2: rgba(255, 255, 255, 1);
  --importeddefaultuntitled-3: rgba(224, 224, 224, 1);
  --importeddefaultuntitled-5: rgba(72, 72, 72, 1);
  --importeddefaultuntitled-6: rgba(244, 255, 0, 1);
  --importeddefaultuntitled-9: rgba(24, 75, 255, 0.4);
  --importeddefaultuntitled-13: rgba(255, 111, 241, 1);
  --importeddefaultuntitled-23: rgba(0, 0, 0, 0);
  --importeddefaultuntitled-24: rgba(93, 138, 212, 1);
  --importeddefaultuntitled-33: rgba(111, 111, 111, 1);
  --importeddefaultuntitled-38: rgba(4, 68, 197, 1);
  --importeddefaultuntitled-39: rgba(24, 62, 137, 1);
  --importeddefaultuntitled-42: rgba(133, 133, 133, 1);
  --importeddefaultuntitled-43: rgba(133, 133, 133, 0.45);
  --importeddefaultuntitled-44: rgba(249, 249, 249, 1);
  --importeddefaultuntitled-45: rgba(152, 152, 152, 1);
  --importeddefaultuntitled-46: rgba(26, 26, 26, 0.36);
  --importeddefaultuntitled-47: rgba(13, 13, 13, 1);
  --importeddefaultuntitled: rgba(0, 0, 0, 1);
}
