/* buat di bawah ukuran 90% YG MIDDLE*/


/* REVISI UKURAN YG DI CANVA */

.homepage {
  background-color: rgba(229, 230, 231, 1);
  width: 100%;
  height:auto;
  position: relative;
  margin: 0;
  padding: 0;
}

.homepage .rectangle {
  position: absolute;
  top: 3565px;
  left: 0;
  width: 100%;
  height: 950px;
  background-color: rgba(38, 79, 98, 1);
  z-index: 0;
}

.homepage .div {
  position: absolute;
  top: 2509px;
  left: 0;
  width: 100%;
  height: 1605px;
  border-radius: 188px;
  background: rgba(38, 79, 98, 1);  
}

.homepage .rectangle-2 {
  position: absolute;
  top: -190px;
  left: 0;
  width: 100%;
  height: 1000px;
  border-radius: 188px;
  background: rgba(38, 79, 98, 1);
}

.homepage .rectangle-3 {
  position: absolute;
  top: 583px;
  left: 162px;
  width: 90px;
  height: 88px;
  border: 1px solid;
  border-color: rgba(172, 180, 79, 1);
  transform: rotate(15.48deg);
}

.homepage .rectangle-4 {
  position: absolute;
  top: -63px;
  left: -25px;
  width: 153px;
  height: 99px;
  border: 1px solid;
  border-color: rgba(172, 180, 79, 1);
  transform: rotate(15.48deg);
}


.homepage .rectangle-44 {
  position: absolute;
  top: -70px;
  right: 40px;
  width: 120px;
  height: 88px;
  border: 1px solid;
  border-color: rgba(172, 180, 79, 1);
  transform: rotate(15.48deg);
}


.homepage .rectangle-33 {
  position: absolute;
  top: 665px;
  right: 160px;
  width: 120px;
  height: 88px;
  border: 1px solid;
  border-color: rgba(172, 180, 79, 1);
  transform: rotate(15.48deg);
}

.homepage .group {
  position: absolute;
  top: 210px;
  left: calc(50.00% - 477px);
  width: 956px;
  height: 220px;
  display: flex;
  justify-content: center;
}

.homepage .text-wrapper {
  width: 1500px;
  height: auto;                          
  margin-left: -2.0px;
  text-align: center;                     
  letter-spacing: 0;
  line-height: 140px;
  color: rgba(229, 230, 231, 1);
  margin-top: -50px;
}

.homepage .text-wrapper,
.homepage .text-wrapper {
  font-family: "Helvetica", sans-serif;                            
  font-size: 93px;                
}

.homepage .text-wrapper .text-blue {
  color: rgba(172, 180, 79, 1);                  
}


/* NAVBAR */
.navbar {
  width: 90%; 
  max-width: 1087px;
  height: 85px;
  margin: 40px auto;
  position: relative;
  z-index: 1000;
  background: rgba(91, 120, 132, 1);
  border-radius: 100px;
  padding: 15px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 130px;
}

.navbar a {
  color: rgba(229, 230, 231, 1);
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  white-space: nowrap;
}

.nav-logo img {
  height: 42px;
  width: 175px;
  margin-right: 15px;
}



.homepage .images {
  top: 164px;
  left: 99px;
  width: 239px;
  transform: rotate(-0.05deg);
  position: absolute;
  height: 419px;
  display: flex;
}

.shape-l-reverse {
  position: absolute;
  left: 90px;
  top: 170px;
  width: 140px;
  height: 440px;
  background: linear-gradient(180deg, rgba(229, 230, 231, 1), rgba(91, 120, 132, 1));
}

.shape-l-reverse::after {
  content: "";
  position: absolute;
  bottom: 50;
  right: -99px;
  width: 100px;
  height: 100px;
  background: linear-gradient(105deg, rgba(229, 230, 231, 1), rgba(91, 120, 132, 1));
}

.homepage .screenshot {
  position: absolute;
  top: 494px;
  left: 52px;
  width: 143px;
  height: 158px;
  aspect-ratio: 0.91;
  object-fit: cover;
}

.homepage .screenshot-2 {
  position: absolute;
  top: 135px;
  left: 27px;
  width: 143px;
  height: 235px;
  aspect-ratio: 0.61;
}

.homepage .vector-wrapper {
  top: 272px;
  left: 1155px;
  width: 218px;
  transform: rotate(179.95deg);
  position: absolute;
  height: 419px;
  display: flex;
}

.shape-l {
  position: absolute;
  right: 70px;
  top: 200px;
  width: 130px;
  height: 490px;
  background: linear-gradient(180deg, rgba(229, 230, 231, 1), rgba(91, 120, 132, 1));  
}

/* bagian bawah */
.shape-l::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -130px;
  width: 130px;
  height: 120px;
  background: linear-gradient(105deg, rgba(229, 230, 231, 1), rgba(91, 120, 132, 1));
}

.homepage .rectangle-6 {
  position: absolute;
  top: 605px;
  left: calc(50.00% - 104px);
  width: 208px;
  height: 68px;
  background-color: rgba(172, 180, 79, 1);
  border-radius: 100px;
}

.homepage .text-wrapper-7 {
  position: absolute;
  top: 623px;
  left: calc(50.00% - 60px);
  width: 122px;
  font-family: "Helvetica", sans-serif;
  color: rgba(229, 230, 231, 1);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 31.2px;
  white-space: nowrap;
}

.homepage .screenshot-3 {
  position: absolute;
  top: 586px;
  right: 230px;
  width: 153px;
  height: 146px;
  aspect-ratio: 1.05;
  object-fit: cover;
}

.homepage .screenshot-4 {
  position: absolute;
  top: 153px;
  right: 40px;
  width: 167px;
  height: 159px;
  aspect-ratio: 1.05;
  object-fit: cover;
}






/* KOTAK HITAM */
.rectangle-7 {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  padding: 40px;
  margin-top: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(38, 79, 98, 1);
  border-radius: 55px;
}

.item {
  text-align: center;
}

/* angka */
.item h1 {
  font-size: 48px;
  color: rgba(229, 230, 231, 1);
  margin: 0;
  text-decoration: none;
  font-family: "Helvetica", sans-serif;
  font-weight: 510;
  white-space: nowrap;
}

/* tanda + */
.item span {
  color: rgba(172, 180, 79, 1);
  margin-right: -4px;
}

/* label */
.item p {
  margin-top: -5px;
  font-size: 20px;
  color: rgba(229, 230, 231, 1);
  text-decoration: none;
  font-family: "HelveticaforTarget-Bold", sans-serif;
  font-weight: 530;
  white-space: nowrap;
}
/* END KOTAK HITAM */





/* KOTAK WHY AKHENSI */
.kotak-why {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 120px;
  }

.rectangle-9 {
  width: 90%;
  max-width: 1150px;
  padding: 40px 80px;       
  display: flex;
  align-items: center;     
  justify-content: space-between; 
  gap: 45px; 
  border-radius: 25px;
  background: rgba(38, 79, 98, 1);
}

.left {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  flex-shrink: 0;          
}

.text-wrapper-2o {
  font-family: "HelveticaforTarget", sans-serif;
  color: rgba(229, 230, 231, 1);
  font-size: 75px;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0;
  white-space: nowrap;
}

.text-wrapper-2 {
  font-family: "HelveticaforTarget", sans-serif;
  color: rgba(172, 180, 79, 1);
  font-size: 75px;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0;
  white-space: nowrap;
  margin-right: -10px;
}

.divider {
  width: 2px;
  height: 340px;            
  background: rgba(229, 230, 231, 1);
  flex-shrink: 0;
  align-self: flex-start;   
  margin-top: 1px;         
}

.right {
  flex: 1;                  
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-wrapper-2k,
.text-wrapper-2k {
  width: 86px;
  margin-top: 50px;
  font-family: "HelveticaforTarget", sans-serif;
  font-weight: 500;
  color: rgba(172, 180, 79, 1);
  letter-spacing: 0;
  line-height: 23px;
  white-space: nowrap;
  margin-left: -3px; 
  font-size: 26px;
  text-align: left; 
  margin: 0;
}

.p, .text-wrapper-23 {
  font-family: "Helvetica", sans-serif;
  font-weight: 0;
  color: rgba(229, 230, 231, 1);
  font-size: 17px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 23px;
  width: 425px;
  margin-top: -10px;
  }
/* END KOTAK WHY */




/* OUR WORKS */
.homepage .text-wrapper-24 {
  position: relative;
  margin-top: 120px;
  width: 90%;
  max-width: 800px;
  margin: 330px auto 40px;
  text-align: center;
  font-family: "HelveticaforTarget", sans-serif;
  color: rgba(229, 230, 231, 1);
  font-size: 80px;
  letter-spacing: 7.00px;
  line-height: 84px;
}

.homepage .group-2 {
  position: relative;
  margin-top: 80px;
  margin: 70px auto 40px;
  width: 95%; 
  max-width: 1252px;
  height: 145px;
}

.homepage .rectangle-11 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 626px);
  width: 100%;
  height: 145px;
  border-radius: 21px;
}

.homepage .phone-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
  height: 600px;
}
/* END OF OUR WORKS */








.homepage .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;   
  gap: 24px;
  width: 90%;
  max-width: 1200px;
  margin: 30px auto; 
}

.homepage .container-2 {
  display: flex;
  min-width: 420px;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(4, 68, 197, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.homepage .container-md {
  position: relative;
  width: 44px;
  height: 44px;
  background-color: #ffffff0d;
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--importeddefaultuntitled-1);
}

.homepage .mdi-gear-outline {
  position: relative;
  top: 8px;
  left: 8px;
  width: 28px;
  height: 28px;
  display: flex;
  aspect-ratio: 1;
}

.homepage .vector-3 {
  flex: 1;
  width: 22.7px;
}

.homepage .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 4px 0px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.homepage .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.homepage .t-feature {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "HelveticaforTarget", sans-serif;
  color: red;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.homepage .t-feature-subtitle {
  position: relative;
  width: 509px;
  margin-right: -0.50px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: red;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.homepage .material-symbols-wrapper {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
  position: relative;
  width: 44px;
  height: 44px;
}

.homepage .material-symbols {
  position: relative;
  top: 6px;
  left: 6px;
  width: 32px;
  height: 32px;
  display: flex;
  aspect-ratio: 1;
}

.homepage .vector-4 {
  flex: 1;
  width: 21.33px;
}

.homepage .t-feature-2 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: red;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.homepage .group-wrapper {
  flex: 1 1 480px; 
  max-width: 600px;
}

.homepage .container-wrapper {
  width: 100%;
  display: flex;
}

.homepage .container-3 {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  border-radius: 12px;
  background: rgba(38, 79, 98, 1);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: 'Montserrat', sans-serif;
}

/* judul */
.homepage .t-feature-00 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
 font-family: "HelveticaforTarget", sans-serif;
  color: #acb44f;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 60px; 
  top: 10px;
}

.homepage .t-feature-0{
  position: relative;
  align-self: stretch;
  font-family: "Helvetica", sans-serif;
  font-weight: 0;
  color: rgba(229, 230, 231, 1);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  top: 6px;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 16px;  
}

/* icon */
.iconn-box {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  border: 1px solid rgba(91, 120, 132, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  top: -35px;
}

.iconn-svg {
  width: 22px;
  height: 22px;
}

.homepage .mdi-target {
  position: relative;
  top: 9px;
  left: 8px;
  width: 28px;
  height: 28px;
  display: flex;
  aspect-ratio: 1;
}

.homepage .vector-5 {
  flex: 1;
  width: 20px;
}

.icon-box {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  border: 1px solid #000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box svg {
  width: 22px;
  height: 22px;
  color: var(--importeddefaultuntitled-6);
}

.homepage .text-wrapper-25 {
  margin: 130px auto 40px;
  width: 90%;
  max-width: 1500px;
  text-align: center;
  font-size: 80px;
  white-space: normal;
  background: rgba(172, 180, 79, 1);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "HelveticaforTarget", sans-serif;
  color: transparent;
  letter-spacing: 7.00px;
  line-height: 84px;
}








.homepage .screenshot-6 {
  position: absolute;
  top: 25px;
  left: 740px;
  width: 125px;
  height: 96px;
  aspect-ratio: 1.31;
  object-fit: cover;
}

.homepage .screenshot-7 {
  position: absolute;
  top: 25px;
  left: 493px;
  width: 258px;
  height: 96px;
  aspect-ratio: 2.7;
  object-fit: cover;
}

.homepage .screenshot-8 {
  position: absolute;
  top: 25px;
  left: 863px;
  width: 149px;
  height: 96px;
  aspect-ratio: 1.56;
  object-fit: cover;
}

.homepage .screenshot-9 {
  position: absolute;
  top: 25px;
  left: 1011px;
  width: 188px;
  height: 96px;
  aspect-ratio: 1.96;
  object-fit: cover;
}

.homepage .screenshot-10 {
  position: absolute;
  top: 25px;
  left: 310px;
  width: 171px;
  height: 96px;
  aspect-ratio: 1.79;
  object-fit: cover;
}

.homepage .ellipse-2 {
  position: absolute;
  top: 57px;
  left: 1138px;
  width: 62px;
  height: 54px;
  background-color: var(--importeddefaultuntitled-0);
  border-radius: 31.18px / 27px;
}

.homepage .text-wrapper-26 {
  position: absolute;
  top: 73px;
  left: 1149px;
  width: 42px;
  opacity: 0.6;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--importeddefaultuntitled-1);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
}

.homepage .screenshot-11 {
  position: absolute;
  top: 25px;
  left: 186px;
  width: 99px;
  height: 95px;
  aspect-ratio: 1.03;
  object-fit: cover;
}

.homepage .screenshot-12 {
  position: absolute;
  top: 25px;
  left: 55px;
  width: 112px;
  height: 96px;
  aspect-ratio: 1.17;
  object-fit: cover;
}







/* HALM DI ATAS FOOTER */
.cta-section {
  width: 90%;
  max-width: 1200px;
  position: relative;
  z-index: 10;
  right: 100px;
  display: flex;
  align-items: center;
  margin: 300px auto;
  padding: 300px auto;   
}

.cta-left h1 {
  font-family: "HelveticaforTarget", sans-serif;
  color: rgba(172, 180, 79, 1);
  font-size: 100px;
  letter-spacing: 2.00px;
  line-height: 90px;
  margin-left: 30px;
}

.cta-right {
  position: relative;
  margin-right: 30px;
}

.img-main {
  width: 410px;
  height: 300px;
  z-index: 1;
}

.img-small {
  position: absolute;
  bottom: -78px;
  right: -235px;
  width: 350px;
  height: 230px;
  z-index: 3;
}

.box-outline-2 {
  position: absolute;
  background-color: rgba(38, 79, 98, 1);
  top: 140px;
  right: -70px;
  width: 200px;
  height: 160px;
  z-index: 2;
}

.box-outline {
  position: absolute;
  background-color: rgba(38, 79, 98, 1);
  top: -30px;
  right: -190px;
  width: 330px;
  height: 200px;
  border: 7px solid rgba(229, 230, 231, 1);
  z-index: -1;
}

.box-outline-3 {
  position: absolute;
  background-color: rgba(38, 79, 98, 1);
  top: 235px;
  right: 50px;
  width: 300px;
  height: 100px;
  border: 7px solid rgba(229, 230, 231, 1);
  z-index: -1;
}
/* END HALM DI ATAS FOOTER */





/* BAGIAN STAR */
.star-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: -90px;
  z-index: 10;
  position: relative;
}

.line {
  flex: 1;
  height: 3px;
}

.line.left {
  background: rgba(229, 230, 231, 1);
}

.line.right {
  background: rgba(229, 230, 231, 1);
}

.star {
  width: 40px;
}







/* FOOTER */
.footer {
  background-image: linear-gradient(180deg, rgba(38, 79, 98, 1) 60%, rgba(91, 120, 132, 1));
  color: white;
  padding: 50px 160px;
  z-index: 999;
  bottom: 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap; 
}

.footer-left {
  max-width: 400px;
}

.footer-left .logo {
  width: 165px;
  margin-bottom: 10px;
  margin-left: -9px;
}

.footer-nav,
.footer-services {
  min-width: 150px;
}

/* GARIS */
.footer-line {
  width: 100%;
  height: 2px;
  background: white;
  margin: 40px 0;
}

/* BAGIAN BAWAH */
.footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  gap: -20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 16px;
}

.icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}








/* BAGIAN ANIMATION */


/* ===== ANIMASI HERO TEXT ===== */
.slide-top {
  animation: slide-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.animate {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.6s ease;
}

.animate.show {
  opacity: 1;
  transform: translateY(0);
}

.homepage .show {
  opacity: 1;
  transform: translateY(0);
}

/* NAVBAR HOVER EFFECT */

.navbar a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover {
  color: #f4ff00; 
}



