/* buat di bawah ukuran 90% YG MIDDLE*/


.homepage {
  background-color: rgba(229, 230, 231, 1);
  width: 100%;
  height:auto;
  position: relative;
  margin: 0;
  padding: 0;
}


.homepage .div {
  position: absolute;
  top: 1950px;
  left: 0;
  width: 100%;
  height: 1050px;
  background: rgba(38, 79, 98, 1);  
}

.homepage .rectangle-2 {
  position: absolute;
  top: -190px;
  left: 0;
  width: 100%;
  height: 1000px;
  border-radius: 188px;
  background: rgba(38, 79, 98, 1);
}

.homepage .rectangle-3 {
  position: absolute;
  top: 583px;
  left: 162px;
  width: 90px;
  height: 88px;
  border: 1px solid;
  border-color: rgba(172, 180, 79, 1);
  transform: rotate(15.48deg);
}

.homepage .rectangle-4 {
  position: absolute;
  top: -63px;
  left: -25px;
  width: 153px;
  height: 99px;
  border: 1px solid;
  border-color: rgba(172, 180, 79, 1);
  transform: rotate(15.48deg);
}


.homepage .rectangle-44 {
  position: absolute;
  top: -70px;
  right: 40px;
  width: 120px;
  height: 88px;
  border: 1px solid;
  border-color: rgba(172, 180, 79, 1);
  transform: rotate(15.48deg);
}


.homepage .rectangle-33 {
  position: absolute;
  top: 665px;
  right: 160px;
  width: 120px;
  height: 88px;
  border: 1px solid;
  border-color: rgba(172, 180, 79, 1);
  transform: rotate(15.48deg);
}

.homepage .group {
  position: absolute;
  top: 210px;
  left: calc(50.00% - 477px);
  width: 956px;
  height: 220px;
  display: flex;
  justify-content: center;
}

.homepage .text-wrapper {
  width: 1500px;
  height: auto;                          
  margin-left: -2.0px;
  text-align: center;                     
  letter-spacing: 0;
  line-height: 140px;
  color: rgba(229, 230, 231, 1);
  margin-top: -50px;
}

.homepage .text-wrapper,
.homepage .text-wrapper {
  font-family: "Helvetica", sans-serif;                            
  font-size: 93px;                
}

.homepage .text-wrapper .text-blue {
  color: rgba(172, 180, 79, 1);                  
}






/* NAVBAR */
.navbar {
  width: 90%; 
  max-width: 1095px;
  height: 85px;
  margin: 40px auto;
  position: relative;
  z-index: 1000;
  background: rgba(91, 120, 132, 1);
  border-radius: 100px;
  padding: 15px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 130px;
}

.navbar a {
  color: rgba(229, 230, 231, 1);
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  white-space: nowrap;
}

.nav-logo img {
  height: 42px;
  width: 175px;
  margin-right: 15px;
}



.homepage .images {
  top: 164px;
  left: 99px;
  width: 239px;
  transform: rotate(-0.05deg);
  position: absolute;
  height: 419px;
  display: flex;
}

.shape-l-reverse {
  position: absolute;
  left: 90px;
  top: 170px;
  width: 140px;
  height: 440px;
  background: linear-gradient(180deg, rgba(229, 230, 231, 1), rgba(91, 120, 132, 1));
}

.shape-l-reverse::after {
  content: "";
  position: absolute;
  bottom: 50;
  right: -99px;
  width: 100px;
  height: 100px;
  background: linear-gradient(105deg, rgba(229, 230, 231, 1), rgba(91, 120, 132, 1));
}

.homepage .screenshot {
  position: absolute;
  top: 494px;
  left: 52px;
  width: 143px;
  height: 158px;
  aspect-ratio: 0.91;
  object-fit: cover;
}

.homepage .screenshot-2 {
  position: absolute;
  top: 135px;
  left: 27px;
  width: 143px;
  height: 235px;
  aspect-ratio: 0.61;
}

.homepage .vector-wrapper {
  top: 272px;
  left: 1155px;
  width: 218px;
  transform: rotate(179.95deg);
  position: absolute;
  height: 419px;
  display: flex;
}

.shape-l {
  position: absolute;
  right: 70px;
  top: 200px;
  width: 130px;
  height: 490px;
  background: linear-gradient(180deg, rgba(229, 230, 231, 1), rgba(91, 120, 132, 1));  
}

/* bagian bawah */
.shape-l::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -130px;
  width: 130px;
  height: 120px;
  background: linear-gradient(105deg, rgba(229, 230, 231, 1), rgba(91, 120, 132, 1));
}

.homepage .rectangle-6 {
  position: absolute;
  top: 605px;
  left: calc(50.00% - 104px);
  width: 208px;
  height: 68px;
  background-color: rgba(172, 180, 79, 1);
  border-radius: 100px;
}

.homepage .text-wrapper-7 {
  position: absolute;
  top: 623px;
  left: calc(50.00% - 60px);
  width: 122px;
  font-family: "Helvetica", sans-serif;
  color: rgba(229, 230, 231, 1);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 31.2px;
  white-space: nowrap;
}

.homepage .screenshot-3 {
  position: absolute;
  top: 586px;
  right: 230px;
  width: 153px;
  height: 146px;
  aspect-ratio: 1.05;
  object-fit: cover;
}

.homepage .screenshot-4 {
  position: absolute;
  top: 153px;
  right: 40px;
  width: 167px;
  height: 159px;
  aspect-ratio: 1.05;
  object-fit: cover;
}






/* KOTAK HITAM */
.rectangle-7 {
  width: 90%;
  max-width: 1560px;
  margin: auto;
  padding: 40px;
  margin-top: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(38, 79, 98, 1);
  border-radius: 55px;
}

.item {
  text-align: center;
}

.item h1 {
  font-size: 48px;
  color: rgba(229, 230, 231, 1);
  margin: 0;
  text-decoration: none;
  font-family: "Helvetica", sans-serif;
  font-weight: 510;
  white-space: nowrap;
}

.item span {
  color: rgba(172, 180, 79, 1);
  margin-right: -4px;
}

.item p {
  margin-top: -5px;
  font-size: 20px;
  color: rgba(229, 230, 231, 1);
  text-decoration: none;
  font-family: "HelveticaforTarget-Bold", sans-serif;
  font-weight: 530;
  white-space: nowrap;
}
/* END KOTAK HITAM */





/* BAGIAN KEDUA */
.kotak-why {
  width: 100%;
  margin: 120px auto 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgb(249, 134, 134);
}

.background {
  position: absolute;
  top: -120px;
  left: 0;
  width: 100%;
  height: 890px;
  object-fit: cover;
  z-index: -1;
}


.kotak-why .why-title {
  font-family: "Helvetica", sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: rgba(38, 79, 98, 1); 
  line-height: 1.3;
  text-align: left;
  margin-bottom: 40px;
}

.kotak-why .cards-grid {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  margin-bottom: 40px;
}

.kotak-why .card-item {
  flex: 1;
  height: 380px;
  background-color: rgba(91, 120, 132, 1); 
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.kotak-why .card-item:hover {
  transform: translateY(-5px);
}

.kotak-why .why-description-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.kotak-why .why-desc-text {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: rgba(38, 79, 98, 1);
  text-align: right;
  max-width: 650px; 
  margin: 0;
}
/* END BAGIAN KEDUA */







/* BAGIAN KETIGA */
.homepage .phone-section .phone-title {
  position: absolute;
  top: 2000px;       
  left: 60px;        
  font-family: "Helvetica", sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: rgba(229, 230, 231, 1);
  margin: 0;
  z-index: 10;
}

.homepage .phone-section {
  display: flex;
  justify-content: center;
  gap: 75px;
  margin-top: 200px;
  height:600px;
}

.homepage .phone-section .phone-subtitle {
  font-family: "Helvetica", sans-serif;
  font-size: 30px;
  line-height: 1.4;
  color: rgba(229, 230, 231, 1);
  text-align: right;
  margin: 0;
  position: absolute;
  top: 2850px;        
  right: 140px;       
  z-index: 10;
}
/* END BAGIAN KETIGA */







/* BAGIAN KEEMPAT */
.client-section {
  width: 100%;
  max-width: 1200px;
  margin: 470px auto 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

.client-header {
  display: flex;
  align-items: center; /* Diubah ke center supaya logo dan text kanan sejajar tengah */
  justify-content: space-between; /* Memaksa logo mentok kiri, tulisan mentok kanan */
  gap: 80px; /* Jarak aman antar konten */
  margin-bottom: 100px;
}

.logo-grid {
  flex: 2;
  display: flex;       
  align-items: center;
  justify-content: flex-start;
}

.logo-item img {
  object-fit: contain; 
  display: block;
  
}

.innovation-title {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.innovation-title h2 {
  font-size: 49px;
  font-weight: bold;
  color: #000000;
  line-height: 1.2;
  margin: 0;
}

.blue-box-placeholder {
  width: 100%;
  height: 190px;
  background-color: rgba(38, 79, 98, 1);
  border-radius: 15px;
}
/* END BAGIAN KEEMPAT */







/* BAGIAN KELIMA */
.testimonial-main-title {
  font-size: 48px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  line-height: 1.1;
  margin-bottom: 50px;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 120px;
}

.testimonial-card {
  background-color: rgba(172, 180, 79, 1); 
  padding: 40px 30px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
}

.testi-text {
  font-size: 18px;
  line-height: 1.9;
  color: rgba(0, 0, 0, 1); 
  margin: 0 0 40px 0;
  font-family: 'Inter', "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}

.testi-author {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  line-height: 1.3;
  font-weight: bold;
  padding-left: 100px;
}
/* END BAGIAN KELIMA */






/* FOOTER */
.footer-container {
  background-image: linear-gradient(to right, rgba(38, 79, 98, 1) 45% , rgba(91, 120, 132, 1), rgba(153, 153, 153, 1));
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  padding: 100px 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 100%;
  margin: 0 auto;
}

.footer-left h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 78px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.1;
  margin: 0;
  letter-spacing: -1px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 45px;
  font-family: "Helvetica", sans-serif;
  padding-right: 60px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 8px;
}

.contact-info a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  font-family: "HelveticaforTarget-Bold", sans-serif;
}

.location-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 5px; 
}

.location-info p {
  color: #ffffff;
  font-size: 20px;
  font-family: "HelveticaforTarget-Bold", sans-serif;
  font-weight: 600;
  margin: 0;
}

.social-icons {
  display: flex;
  gap: 25px;
}

.icon-circle {
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
  outline: 1px solid black;  
}

.icon-circle:hover {
  transform: scale(1.1);
}

.icon-circle img{
  width: 35px;
  height: 35px;
  object-fit: contain;
}
/* END FOOTER */






























/* BAGIAN ANIMATION */


/* ===== ANIMASI HERO TEXT ===== */
.slide-top {
  animation: slide-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.animate {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.6s ease;
}

.animate.show {
  opacity: 1;
  transform: translateY(0);
}

.homepage .show {
  opacity: 1;
  transform: translateY(0);
}

/* NAVBAR HOVER EFFECT */

.navbar a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover {
  color: #f4ff00; 
}



